[submodule "deps/adaptagrams"]
	path = deps/adaptagrams
	url = https://github.com/mjwybrow/adaptagrams.git
[submodule "deps/swig"]
	path = deps/swig
	url = https://github.com/mmomtchev/swig.git
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk.git
